body {
    background: no-repeat url(../../assets/background.jpg);
    background-size: auto;    
}

.hero {
<<<<<<< Updated upstream
    height: 517px;
=======
    background:  url(../../assets/background.jpg) no-repeat  ;
    background-size: cover;       
    height: 50vh;
    border-bottom: 8px solid #222
>>>>>>> Stashed changes
}
