h1 {    
    font-size: 2.6rem;
    text-align: center;
    font-family: 'MyWebFont', Fallback, sans-serif;
    color: #fff;
}
p {
    margin: 1rem;
    font-size: 1.8rem;    
    text-align: center;
    font-family: 'MyWebFont', Fallback, sans-serif;
    color: #fff;
}
